.user-profile-container {
        padding: 2rem 0;
    }
    
    .section-title {
        color: #495057;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid #dee2e6;
    }
    
    .profile-picture-container {
        position: relative;
    }
    
    #profile-picture {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }
    

    /* Estilização dos campos do formulário */
    .form-control, .form-select {
        border-radius: 0.375rem;
        padding: 0.5rem 1rem;
    }
    
    /* Feedback visual para campos inválidos */
    .is-invalid {
        border-color: #dc3545;
    }
    
    @media (max-width: 768px) {
        #profile-picture {
            width: 120px;
            height: 120px;
        }
        
        .card-body {
            padding: 1.5rem;
        }
    }