{% extends 'index.html' %}  

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Livros Disponíveis</h1>
    <div class="row">
        {% for livro in livros %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if livro.foto_livro %}
                        <img src="{{ livro.foto_livro.url }}" class="card-img-top" alt="{{ livro.nome }}" style="object-fit: cover; height: 300px;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ livro.nome }}</h5>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            {% if livro.arquivo %}
                                <a href="{{ livro.arquivo.url }}" class="btn btn-primary">Baixar PDF</a>
                            {% else %}
                                <p class="text-muted">Arquivo não disponível.</p>
                            {% endif %}
                            
                            {% if user.is_funcionario %}
                                <div class="btn-group" role="group">
                                    <a href="{% url 'livros_update' livro.id %}" class="btn btn-warning btn-sm d-flex align-items-center justify-content-center" style="width: 40px; height: 40px;">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <form action="" method="post" onsubmit="return confirm('Tem certeza que deseja remover este livro?');">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm d-flex align-items-center justify-content-center" style="width: 40px; height: 40px;">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
