{% extends 'index.html' %}
{% block title %}Eventos Admin{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Eventos</h2>
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success" role="alert">
        <strong>{{ message }}</strong>
    </div>
    {% endif %}
    {% endfor %}
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Duração</th>
                <th>Ações</th> 
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
            <tr id="row{{ evento.id }}">
                <td><a href="{% url 'evento_detalhe' evento.id %}">{{ evento.nome }}</a></td>
                <td>{{ evento.data }}</td>
                <td>{{ evento.duracao }}h</td>
                <td>
                    <div class="row">
                        <div class="col-auto">
                            <a href="{% url 'evento_edit' evento.id %}" class="btn btn-warning btn-sm">Editar</a>
                        </div>
                        <div class="col-auto">
                            <form action="{% url 'evento_delete' evento.id %}" method="post" onsubmit="return confirm('Você tem certeza que deseja apagar este evento?');">
                                {% csrf_token %}
                                <input type="submit" value="Apagar" class="btn btn-danger btn-sm">
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
